<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Todo App</title>
    <link rel="stylesheet" href="https://cdn.rawgit.com/Chalarangelo/mini.css/v3.0.1/dist/mini-default.min.css">
</head>
<body>
    <header>
        <a href="/" class="logo">My Todo Lists</a>
        <a href="/" class="button">See full list</a>
        <a href="/add" class="button">Add a new Todo</a>
    </header>
  {% block body %}
  {% endblock %}
    <footer>
        <p>&copy; Russ Eby 2021</p>
    </footer>
</body>
</html>